/Audio_Processing/wav_tunes_from_midi
/Audio_Processing/youtube_tunes
/Audio_Processing/spotify_scraper/auth.txt
/Audio_Processing/processed_clips
IRMAS_tunes
/Audio_Processing/yt_playlist_downloaded
/Audio_Processing/spectograms
/Final_Diffusion_Model/test_out
/Audio_Processing/latents
/Audio_Processing/latents_old
/Audio_Processing/PCM_midi_clips
/Audio_Processing/processed_midi_clips
/Audio_Processing/midi_spectograms
/Audio_Processing/midi_latents
Sample_Outputs
Sample_Outputs_Short
Saved_Models